// global color variables
$main-text-col: rgb(237, 237, 237); // main background colour
$main-mid-color: #CBCBCB;
$main-background-col: #0A0A0A; // main background colour
$alt-background-col: #101010; // lighter colour to main background colour to highlight information   
$border-rad: 16px;

$mid-gray-col: #2B2B2B;

$input-border: 2px solid #2B2B2B;
$input-font-size: 16px;
$input-hover-col: #161616;
$field-height: 2em;

// global fonts
$body-font-family: 'Inter', Arial, Helvetica, sans-serif;

// mixins
@mixin focus-effect {
    outline: 1px solid white;
}

body {
    font-family: $body-font-family;
    margin: 0;
    background: linear-gradient(0, #161616 0%, #1e1e1e 68.75%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

h1 {
    color: $main-text-col;
    margin-left: 1em;
}

body>header {
    background-color: $main-background-col;
    color: $main-text-col;

    // make header overlay everything with a high z index 
    z-index: 5;

    display: flex;

    nav {
        display: flex;
        align-items: center;
        gap: 5em;
        margin-right: 2em;

        div {
            display: flex;
            align-items: center;
            column-gap: 1em;
            height: 100%;
            cursor: pointer;

            a {
                display: inline-block;
                font-size: 1.5em;
                font-weight: bold;
            }
        }

    }

}

.selected {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-right: auto;
}

#addMovieButton {
    height: 3.5em;
    width: 3.5em;

    margin: 0;
    border-radius: 100px;
    cursor: pointer;
    background-color: transparent;
    border: white 2px solid;

    padding: 0;

    transition: background-color 250ms;

    // icon
    img {
        margin: 0;
    }

    &:hover {
        background-color: $mid-gray-col;
    }
}

section {
    margin: 0 auto;
    width: 90%;
}

// TODO: This likely doesnt work on firefox!!
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: $main-background-col;
}

::-webkit-scrollbar-thumb {
    background-color: $mid-gray-col;
    outline: none;
    border-radius: $border-rad;
}

.card-container {
    $card-width: 212px;
    $card-height: 312px;
    $scale-factor: 1.1;
    $default-color: rgb(186, 186, 186);

    // height: 20px + $card-height * $scale-factor;
    margin: 2em 0em 4em 0.25em;
    overflow: auto;
    overflow-y: hidden; // disable vertical scroll
    width: 100%;
    display: flex;

    .card {
        width: $card-width;
        height: $card-height;

        box-sizing: border-box;
        background-image: url("images/poster_na.jpg");
        background-size: cover;
        background-repeat: none;
        height: $card-height;
        border-radius: $border-rad;
        margin: 0.25em;
        padding: 0;
        color: $main-text-col;

        flex: 0 0 $card-width;
        transition: height 120ms, flex 120ms;

        cursor: pointer;

        &:hover {
            height: $card-height * $scale-factor;
            flex: 0 0 $card-width * $scale-factor;
        }

        .card-backdrop {
            @include focus-effect();
            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(4px);
            border-radius: $border-rad;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 250ms;

            .card-info {
                display: flex;
                border-radius: $border-rad;
                flex-direction: column;
                height: 100%;

                // title
                .card-heading {
                    margin-top: 0.5em;

                    &::selection {
                        background-color: transparent;
                    }
                }

                .card-footer {
                    margin-top: auto;

                    .card-year {
                        font-weight: bold;
                    }

                    // hide selection highlight
                    &>*::selection {
                        background-color: transparent;
                    }

                }
            }

        }

        &:hover {
            .card-backdrop {
                opacity: 1;
            }
        }
    }

}

#movieDetailsPage {
    color: $main-text-col;
    padding: 2em;
    border-radius: $border-rad;

    z-index: 2;
    opacity: 0;

    .review-form {
        background-color: $alt-background-col;
    }

    .movie-information {
        margin-left: 3em;
        width: 80%;
    }

    header {
        display: flex;
        padding: 1em;
    }

    header>button {
        margin-left: auto;
    }

    .movie-page-container {
        display: flex;

        #movie-details-poster {
            width: 20%;
            height: 100%;
            border-radius: $border-rad;
            object-fit: cover;
        }

        .details-container {
            display: flex;

            .details {
                box-sizing: content-box;
                margin-right: 3em;

                h2{
                    margin-top: 0;
                }

                >p {
                    margin-right: 3em;
                    border-left: 1px solid $main-text-col;
                    padding-left: 1em;
                }

                #movie-details-synopsis {
                    width: 25vw;
                    margin: 0;
                }
            }

        }

        .review-box {
            background-color: $alt-background-col;
            margin-right: 3em;
        }
    }

    h1 {
        margin: 0;
    }
}

#movieAddPage {
    width: 95%;
    border-radius: $border-rad;

    .flex-grid {
        margin-top: 4em;
        column-gap: 2em;
        align-items: flex-start;
        justify-content: space-between;

        table {
            width: 100%;
            // border-spacing: 1.5em 0.5em;

            tr {
                height: 3em;

                td:first-child {
                    text-align: right;
                    border: none;
                    width: 15%;
                    padding-right: 1em;
                }

                td:nth-child(2) {
                    padding: 0.5em;
                }
            }

        }
    }

    .upload-image-area {
        box-sizing: border-box;
        display: block;
        width: 640px;
        height: 960px;

        margin: 0;
        border: 3px dashed $main-mid-color;
        border-radius: 25px;

        background-color: $alt-background-col;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        div {
            color: $main-mid-color;
            text-align: center;
            display: block;
            margin: 50% auto;

            p {
                margin-top: 2em;
            }

            object {
                display: block;
                margin: auto;
            }
        }

        // on drag over
        &.drag-over {
            border: 3px dashed red;
        }

        &.uploaded {
            border: none;

            .add-movie-image-upload-instructions {
                display: none;
            }
        }
    }

    form {
        width: 65%;
    }

    #movieAddPageExitButton {
        width: 5%;
        margin: 0.5em;
    }
}

textarea {
    background-color: $main-background-col;
    border-radius: $border-rad;
    border: $input-border;
    color: $main-text-col;
    font-family: $body-font-family;
    width: 100%;
    font-size: $input-font-size;
    padding: 1em;

    // reset
    resize: none;
    box-shadow: none;
    overflow: auto;
}

.button {
    background-color: $main-text-col;
    color: $main-background-col;
    padding: 1em 2em;
    font-weight: 700;
    font-size: 1em;
    border-radius: 20px;
    cursor: pointer;
    transition: color, background-color 100ms;
}

.button:hover {
    border: $input-border;
    background-color: $alt-background-col;
    color: $main-text-col;
    border: $main-mid-color solid 1px !important;
}


// generic grid class to align elements next to each other
.flex-grid {
    display: flex;
    margin: 1em;
}

br {
    font-size: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

*:focus {
    @include focus-effect;
}

.input-generic {
    display: inline-block;
    box-sizing: border-box;
    background-color: $alt-background-col;
    border: $input-border;
    border-radius: $border-rad;
    color: $main-text-col;
    height: $field-height;

    margin: 0.5em 0;
    padding: 0.5em 2em;

    font-family: $body-font-family;
    font-size: $input-font-size;
}

input {
    @extend .input-generic;
    margin: 0.5em 0;
}

input[type=date] {
    &::-webkit-calendar-picker-indicator {
        // make date selection white by inverting it
        filter: invert(100%);
    }
}

.big-text-input {
    font-size: large; // override
    width: 100%;
    height: 3em;
    font-weight: bold;
    margin: 0 0 2em 0;
}


.input-multi {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    width: 100%;

    .add-field-button {
        @extend .input-generic;
        cursor: pointer;
        padding: 0.6em;
        margin: 0;
        width: $field-height;
        height: $field-height;

        &:hover {
            background-color: $input-hover-col;
        }
    }

    div {
        height: $field-height;
        display: inline-flex;
        align-items: center;
        gap: 0em;
        background-color: $alt-background-col;

        border-radius: $border-rad;
        border: $input-border;

        &:focus-within {
            @include focus-effect;
            background-color: $input-hover-col;
        }

        &:hover {
            background-color: $input-hover-col;
        }

        input {
            background-color: transparent;
            border: none;
            margin: 0;
            width: 100%;
            outline-style: none; // disable focus outline 
        }

        .remove-field-button {
            color: $input-hover-col;
            width: 0.75em;
            margin: 0.5em;
            padding: 0.5em; // make it easier to click
            cursor: pointer;
        }
    }
}

input[type=submit] {
    // use of scss inheritance implements existing properties of the base button class  
    @extend .button;
    margin: 0;
    box-sizing: content-box;

}

#searchFilmsInput {
    background-color: white;
    border-radius: 5em;
    padding: 0.5em;
    height: 3em;
    width: 25vw;
    color: black;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: $main-text-col;
    // margin: 0.5em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.exit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hide {
    display: none;
}