// global color variables
$main-text-col: rgb(237, 237, 237); // main background colour
$main-mid-color: #CBCBCB;
$main-background-col: #0A0A0A; // main background colour
$alt-background-col: #101010; // lighter colour to main background colour to highlight information   
$mid-gray-col: #2B2B2B;
$error-color: #FF5959;
$input-hover-col: #161616;

// border
$border-rad: 16px;
$input-border: 2px solid #2B2B2B;

// fonts
$input-font-size: 16px;
$body-font-family: 'Inter', Arial, Helvetica, sans-serif;

// sizing
$field-height: 2em;