// util
@use "variables";

// component rules
@use "button";
@use "modal";
@use "browser";

body {
    font-family: variables.$body-font-family;
    margin: 0;
    background: linear-gradient(0, #050505 0%, #111111 68.75%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

h1 {
    color: variables.$main-text-col;
    margin-left: 1em;
}

h2 {
    margin: 0.25em;
}

#mainPage{
    margin: 0;
}

#main-header {
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    background-color: variables.$main-background-col;
    color: variables.$main-text-col;

    // make header overlay everything with a high z index 
    z-index: 5;
    display: flex;

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 2em;
        // background-color: blue;

        div {
            // background-color: red;
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;

            a {
                margin-left: 0.5em;
                display: inline-block;
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }
}

.selected {
    text-decoration: underline;
}

.search-container {
    display: flex;
    column-gap: 1em;
    align-items: center;
    margin-left: 1em;
    margin-right: auto;
}

#add-movie-image-upload-browse-link {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

#addMovieButton {
    height: 3.5em;
    width: 3.5em;

    margin: 0;
    border-radius: 100px;
    cursor: pointer;
    background-color: transparent;
    border: white 2px solid;

    padding: 0;

    transition: background-color 250ms;

    // icon
    img {
        margin: 0;
    }

    &:hover {
        background-color: variables.$mid-gray-col;
    }
}

// TODO: This likely doesnt work on firefox!!
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: variables.$main-background-col;
}

::-webkit-scrollbar-thumb {
    background-color: variables.$mid-gray-col;
    outline: none;
    border-radius: variables.$border-rad;
}

.card-banner{
    $banner-height: 6em;
    
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    position: relative;
    
    height: $banner-height;
    top: -$banner-height;

    // just bottom
    border-bottom-left-radius: variables.$border-rad;
    border-bottom-right-radius: variables.$border-rad;
    
    strong{
        display: block;
        margin-left: 1em;
    }

    .card-average-stars-container{
        display: flex;
        justify-content: space-evenly;
        display: flex;
        margin: 0 auto;
    }

    .star{
        width: 2em;
        margin: 1em 0;
    }
}

.card-container {
    $card-width: 212px;
    $card-height: 312px;
    $scale-factor: 1.1;
    $default-color: rgb(186, 186, 186);

    height: 20px + $card-height * $scale-factor;
    margin: 2em 0em 4em 0.25em;
    width: 100%;
    display: flex;
    overflow-y: hidden;

    .card {
        width: $card-width;
        height: $card-height;

        box-sizing: border-box;
        background-image: url("../images/poster_na.jpg");
        background-size: cover;
        background-repeat: none;
        height: $card-height;
        border-radius: variables.$border-rad;
        margin: 0.25em;
        padding: 0;
        color: variables.$main-text-col;

        flex: 0 0 $card-width;
        transition: height 120ms, flex 120ms;

        cursor: pointer;

        &:hover {
            height: $card-height * $scale-factor;
            flex: 0 0 $card-width * $scale-factor;
        }

        .card-backdrop {
            @include browser.focus-effect();
            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(4px);
            border-radius: variables.$border-rad;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 250ms;

            .card-info {
                display: flex;
                border-radius: variables.$border-rad;
                flex-direction: column;
                height: 100%;
                margin-left: 1em;
                margin-right: 1em;

                // title
                .card-heading {
                    margin-top: 0.5em;

                    &::selection {
                        background-color: transparent;
                    }
                }

                .card-footer {
                    margin-top: auto;

                    .card-year {
                        font-weight: bold;
                    }

                    // hide selection highlight
                    &>*::selection {
                        background-color: transparent;
                    }
                }

                .card-review-text{
                    width: 100%;
                    display: block;
                    word-wrap: break-word;
                }
            }

        }

        &:hover {
            .card-backdrop {
                opacity: 1;
            }
        }
    }

}

#movie-details-page {

    margin: 2em auto;
    width: 95%;
    color: variables.$main-text-col;
    padding: 1em;
    border-radius: variables.$border-rad;

    z-index: 2;
    opacity: 0;

    .movie-information {
        margin-left: 3em;
        width: 80%;
    }

    header {
        display: flex;
        padding: 1em;

        .movie-title-container {
            width: 100%;

            #movie-sub-title{
                margin-left: 1em;
            }
        }

        h1 {
            font-size: 3em;
            margin-left: 0;
        }
    }

    header>button {
        margin-left: auto;
    }

    .movie-page-container {
        margin: 1em;
        display: flex;

        #movie-details-poster {
            width: 30%;
            height: 100%;
            border-radius: variables.$border-rad;
            object-fit: cover;
        }

        .details-container {
            display: flex;

            .details {
                box-sizing: content-box;
                margin-right: 3em;

                h2 {
                    margin-top: 0;
                }

                >p {
                    margin-right: 3em;
                    border-left: 1px solid variables.$main-text-col;
                    padding-left: 1em;
                }

                #movie-details-synopsis {
                    width: 25vw;
                    margin: 0;
                }
            }
        }
    }

    h1 {
        margin: 0;
    }
}

#moviePageExitButton {
    margin-left: auto;
    margin-right: 0;
}

.section-light {
    border-radius: variables.$border-rad;
    background-color: variables.$alt-background-col;
    margin-right: 3em;
    padding: 1em;
}

#movieAddPage {
    width: 95%;
    border-radius: variables.$border-rad;

    .flex-container {
        margin-top: 4em;
        column-gap: 2em;
        align-items: flex-start;
        justify-content: space-between;

        table {
            width: 100%;
            // border-spacing: 1.5em 0.5em;

            tr {
                height: 3em;

                td:first-child {
                    text-align: right;
                    border: none;
                    width: 15%;
                    padding-right: 1em;
                }

                td:nth-child(2) {
                    padding: 0.5em;
                }
            }

        }
    }

    .upload-image-area {
        box-sizing: border-box;
        display: block;
        width: 640px;
        height: 960px;

        margin: 0;
        border: 3px dashed variables.$main-mid-color;
        border-radius: 25px;

        background-color: variables.$alt-background-col;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        div {
            color: variables.$main-mid-color;
            text-align: center;
            display: block;
            margin: 50% auto;

            p {
                margin-top: 2em;
            }

            object {
                display: block;
                margin: auto;
            }
        }

        // on drag over
        &.drag-over {
            border: 3px dashed red;
        }

        &.uploaded {
            cursor: pointer; // because clicking on poster to change it is not that intuitive
            border: none;

            .add-movie-image-upload-instructions {
                display: none;
            }
        }
    }

    form {
        width: 65%;
    }

    #movieAddPageExitButton {
        width: 5%;
        margin: 0.5em;
    }
}

textarea {
    box-sizing: border-box;
    background-color: variables.$main-background-col;
    border-radius: variables.$border-rad;
    border: variables.$input-border;
    color: variables.$main-text-col;
    font-family: variables.$body-font-family;
    width: 100%;
    height: 10em;
    font-size: variables.$input-font-size;
    padding: 1em;

    // reset
    resize: none;
    box-shadow: none;
    overflow-y: auto;
}

// generic grid class to align elements next to each other
.flex-container {
    display: flex;
    margin: 1em;
}

br {
    font-size: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

*:focus {
    @include browser.focus-effect;
}

.input-generic {
    display: inline-block;
    box-sizing: border-box;
    background-color: variables.$alt-background-col;
    border: variables.$input-border;
    border-radius: variables.$border-rad;
    color: variables.$main-text-col;
    height: variables.$field-height;

    margin: 0.5em 0;
    padding: 0.5em 2em;

    font-family: variables.$body-font-family;
    font-size: variables.$input-font-size;
}

input {
    @extend .input-generic;
    margin: 0.5em 0;
}

input[type=date] {
    &::-webkit-calendar-picker-indicator {
        // make date selection white by inverting it
        filter: invert(100%);
    }
}

.big-text-input {
    font-size: large; // override
    width: 100%;
    height: 3em;
    font-weight: bold;
    margin: 0 0 2em 0;
}

.input-stars {
    margin: 1em;
    display: flex;
    align-items: center;

    .input-star {
        cursor: pointer;
    }

    label {
        margin-left: 1em;
    }
}


.input-multi {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    width: 100%;

    .add-field-button {
        @extend .input-generic;
        cursor: pointer;
        padding: 0.6em;
        margin: 0;
        width: variables.$field-height;
        height: variables.$field-height;

        &:hover {
            background-color: variables.$input-hover-col;
        }
    }

    div {
        height: variables.$field-height;
        display: inline-flex;
        align-items: center;
        gap: 0em;
        background-color: variables.$alt-background-col;

        border-radius: variables.$border-rad;
        border: variables.$input-border;

        &:focus-within {
            @include browser.focus-effect;
            background-color: variables.$input-hover-col;
        }

        &:hover {
            background-color: variables.$input-hover-col;
        }

        input {
            background-color: transparent;
            border: none;
            margin: 0;
            width: 100%;
            outline-style: none; // disable focus outline 
        }

        .remove-field-button {
            color: variables.$input-hover-col;
            width: 0.75em;
            margin: 0.5em;
            padding: 0.5em; // make it easier to click
            cursor: pointer;
        }
    }
}

#add-movie-button {
    @include button.button-light; // inherit from button-light
    margin: 0 auto; // center
}

#add-review-button {
    @include button.button-light; // inherit from button-light
    margin: 0 0.5em 0.5em auto; // align to the right
}

#movie-details-watchlist {

}

#movie-details-edit {
    border: #FF5959 2px solid;
}

.button-icon {
    cursor: pointer;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid white;
    border-radius: variables.$border-rad;
    width: 5em;
    height: 5em;
    margin-left: 1.5em;
}

#movie-details-remove-icon{
    border-color: variables.$error-color;
}

// search bar input
.search-bar {
    background-color: white;
    border-radius: 5em;
    padding: 0.5em;
    height: 3em;
    width: 400px;
    color: black;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: variables.$main-text-col;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.exit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hide {
    display: none;
}

// Responsive media queries
// CITE: https://developers.google.com/search/blog/2012/04/responsive-design-harnessing-power-of
@media screen and (min-width:480px) and (max-width:800px) {
    // Target landscape smartphones and narrow desktop

    // just hide nav anchors
    nav > div > a{
        display: none !important;
    }

}

@media screen and (max-width:479px) {
    // Target portrait smartphones

    // reduce font size 
    h1 {
        font-size: 1.4em;
        margin: 1em;
    }

    #main-header {

        display: block !important; // !important overrides the display: flex

        // reformat top search area
        .search-container {
            width: 50%;
            margin: 0;

            .search-bar {
                width: 200px;
                height: 40px;
            }
        }

        // navigation
        nav {
            // move nav bar to the bottom
            position: fixed;
            left: 0;
            bottom: 0;
            height: 10%;
            width: 100%;
            background-color: variables.$main-background-col;

            // hide navigation text, leave just icons
            div {
                a {
                    display: none !important; // !important overrides the display: flex
                }

                img {
                    width: 2.5em !important;
                }
            }
        }
    }

    #movieAddPage{
        > .flex-container{

        }
    }

    #add-movie-image-upload-area{

    }

}